<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Header content here -->
    </div>
  </div>
</div>
<div class="compare-data-container">
  <div class="title">
    <h1>Compare Data</h1>
  </div>
  <button class="btn" (click)="addFilter()">Add Filter</button>
  <form>
    <h3>Select a timerange</h3>
    <div class="container">
      <div>
        <label for="startYear"> Année de début :</label>
        <input type="number" id="startYear" [(ngModel)]="startYear" min="1961" max="2030" name="startYear">
      </div>
      <div>
        <label for="endYear"> Année de fin :</label>
        <input type="number" id="endYear" [(ngModel)]="endYear" min="1961" max="2030" name="endYear">
      </div>
    </div>
  </div>
  
  <div class="filter-container">
    <div class="filter-group">
      <label>Groups</label>
      <select [(ngModel)]="selectedGroup" (change)="onGroupChange()">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
      </select>
    </div>
  
    <div class="filter-group" *ngIf="selectedGroup">
      <label>Domains</label>
      <select [(ngModel)]="selectedDomain" (change)="onDomainChange()">
        <option *ngFor="let domain of selectedGroup.domains" [ngValue]="domain">{{domain.name}}</option>
      </select>
    </div>
  
    <div class="filter-group" *ngIf="selectedDomain">
      <label>Area</label>
      <select>
        <option *ngFor="let area of selectedDomain.areas">{{area}}</option>
      </select>
  
      <label>Element</label>
      <select>
        <!-- options for element will be similar to area -->
      </select>
  
      <label>Item</label>
      <select>
        <!-- options for item will be similar to area -->
      </select>
    </div>
  </div>
  
  <!-- Bouton pour lancer la comparaison 
  <button (click)="compareData()">Compare Data</button>-->
</div>
