<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Header content here if needed -->
    </div>
  </div>
</div>
<button (click)="addFilter()">Add Filter</button>


<div class="compare-data-container">
    <form>
      <div>
        <label for="startYear">Année de début :</label>
        <input type="number" id="startYear" [(ngModel)]="startYear" min="1961" max="2030" name="startYear">
      </div>
      <div>
        <label for="endYear">Année de fin :</label>
        <input type="number" id="endYear" [(ngModel)]="endYear" min="1961" max="2030" name="endYear">
      </div>
    </form>

  
  <!-- Filter containers -->
  <div *ngFor="let filter of filters; let i = index" class="filter-container">
      <button (click)="removeFilter(i)" class="remove-filter-button">x</button>
      <!-- Insert your filter elements here -->
    <div class="filter-group">
      <label>Groups</label>
      <select [(ngModel)]="filter.selectedGroup" (change)="onGroupChange()">
        <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
      </select>
    </div>
    <div class="filter-group" *ngIf="filter.selectedGroup">
      <label>Domains</label>
      <select [(ngModel)]="filter.selectedDomain" (change)="onDomainChange()">
        <option *ngFor="let domain of filter.selectedGroup.domains" [ngValue]="domain">{{domain.name}}</option>
      </select>
    </div>
    <div class="filter-group" *ngIf="filter.selectedDomain">
      <label>Area</label>
      <select>
        <option *ngFor="let area of filter.selectedDomain.areas">{{area}}</option>
      </select>
      <label>Element</label>
      <select>
        <!-- options for element will be similar to area -->
      </select>
      <label>Item</label>
      <select>
        <!-- options for item will be similar to area -->
      </select>
    </div>
  </div>
</div>