/* Variables */
$filter-bg: #f8f9fa;

/* General Styles */
.header {
  background-color: #1e6383;
}

/* Slider Styles */
.slider-container {
  position: relative;
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 2;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  z-index: 3;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -10px;
}

.slider-track,
.slider-range {
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  z-index: 1;
}

.slider-track {
  background: #ddd;
}

.slider-range {
  background: #007bff;
}

/* Year Labels */
.year-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.year-labels span {
  font-size: 14px;
}

/* Filter Container */
.filter-container {
  background-color: $filter-bg;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  gap: 10px;
  padding: 15px; /* Add padding for spacing */
  border: 3px;
}

.filter-group {
  flex-grow: 0;
  margin-bottom: 15px;
}

.filter-group label {
  margin-bottom: 5px;
}

.filter-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
  max-width: 200px; /* Limit max width for select boxes */
}
.filter-container {
  position: relative;
}

.remove-filter-button {
  position: absolute;
  top: 5px; /* Ajustez la position verticale selon votre mise en page */
  right: 5px; /* Ajustez la position horizontale selon votre mise en page */
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .filter-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .filter-group {
    margin-left: 0; /* Remove left margin on small screens */
  }

  .filter-group select {
    width: 100%;
  }
}