<div class="dashboard-header" style="background-image: url('./assets/img/brand/Home.jpg');">
  <div class="header-content">
    <h1>Mondiales. Fiables. Exploitables.</h1>
    <p>Food and agriculture data</p>
    <div class="action-buttons">
      <button>Explore Data</button>
      <button>Mon Entreprise</button>
    </div>
  </div>
</div>
<div class="content">
</div>
<div>
  <div class="newsletter-bg">
    <div class="container">
      <div class="content-grid">
        <div class="newsletter-info">
          <h2>Newsletter</h2>
          <p>Inscrivez-vous pour des mises à jour</p>
          <div class="subscribe-form">
            <input id="email-address" name="email" type="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>